[init]
	defaultBranch = main
# Enforce SSH
[url "ssh://git@github.com/"]
  insteadOf = https://github.com/
[core]
	quotepath = false
[user]
	name = natr
	email = yc5@tju.edu.cn
[safe]
	; directory = /home/natr/cyangdata/repos/llama.cpp
[alias]
	lol = log --graph --oneline --decorate --color --all
	st = status
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	co = checkout
	ci = commit
	br = branch
	unstage = reset HEAD
	last = log -1
